<!doctype html>
<html>

<head>
  <title>Caring for Cancer</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="community.css">
</head>

<body>
  <div class="container">
          <header>
              <nav>
                  <ul>
                      <img src="/images/logo3.png" class="logo">
  
                      <li><a href="/">HOME</a></li>
                      <li><a href="/profile">PROFILE</a></li>
                      <li><a href="/events">EVENTS</a></li>
                      <li><a href="/about">ABOUT</a></li>
                  </ul>
  
                  <a href="/logout" id="logout">LOG OUT</a>

              </nav>
          </header>

    <main>
      <img src="/images/community.png" class="community">

      <form action="/search" class="form" method="GET">
        <input type="text" placeholder="Search a title..." name="search" />
        <button type="submit">Find</button>
    </form>

      <section class="respectful">
        <span class="please">PLEASE READ:</span>
        <p class="before">Before you post a new discussion topic, we have a few pointers to help you:</p>
        <ul class="rules">
          <li>- Do a title search in case a question has already been answered.</li>
          <li>- Tone can be difficult to convey in text, so make sure your post/comment is clear.</li>
          <li>- Think through and re-read your comments before you post them.</li>
        </ul>
      </section>

      <span class="line">_______________________________________________________________________________________________</span>

        <ul class="discussionPosts">
        <% for(let i=0; i<posts.length; i++) {%>
          <li class="message">
            <!-- <a href="/post/<%= posts[i]._id %>"> -->
            <span class="title"><a href="/post/<%= posts[i]._id %>"><strong><%= posts[i].title %></strong></span></a>
            <span class="msg"><%= posts[i].msg %></span>
            <span class="posted">Posted by @<%= posts[i].name %></span><br>
            <span class="num"><%= posts[i].heart %> HEARTS</span>
            <span><i class="fa fa-heart fa-2x" aria-hidden="true" data-id="<%= posts[i]._id %>"></i></span>
          </li>
        <% } %>
        </ul>

        <section id="share">
        <h2>Share your message</h2>
      <% if (user.local.email) { %>
        <form action="/discussion" method="POST">
          <input type="text" placeholder="Title" class="titInput" name="title" required>
          <input type="text" placeholder="What's on your mind?" class="msgInput" name="msg">
          <input type="text" value="<%= user.local.email %>" class="nameInput" name="name">
          <button type="submit" class="submitPost">Post</button>
        </form>
        </section>
      <% } %>
    </main>
</div>

<img src="/images/border-bottom.png" class="border-bottom">


<script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>

<script src="main.js"></script>

</body>
</html>